<div class="flex flex-row gap-2">
  <div class="bg-gray-400 w-1 h-auto rounded-r-full"></div>
  <div class="w-full flex flex-col gap-2">
    <div class="flex flex-row justify-between" *ngIf="comment && owner && music; else title_sk">
      <span>By <a [routerLink]="['/user', ownerId]">{{ ownerUsername }}</a> on <a [routerLink]="['/music', musicId]">
          {{ musicTitle }}</a></span>
      <div *ngIf="isOwner">
        <span>
          actions
        </span>
      </div>
      <div *ngIf="!isOwner">

      </div>
    </div>
    <p *ngIf="comment; else content_sk">
      {{ comment.content }}
    </p>
  </div>
</div>

<ng-template #title_sk>
  <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48"></div>
</ng-template>

<ng-template #content_sk>
  <div>
    <div class="h-1.5 bg-gray-200 rounded-full dark:bg-gray-700"></div>
    <div class="h-1.5 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mt-0.5"></div>
  </div>
</ng-template>
