<div class="flex flex-row gap-2 group">
  <div class="bg-gray-400 w-1 h-auto rounded-r-full group-hover:bg-gray-300"></div>
  <div class="w-full flex flex-col gap-2">
    <div class="flex flex-row justify-between" *ngIf="comment && owner && music; else title_sk">
      <span>By <a [routerLink]="['/user', ownerId]">{{ ownerUsername }}</a> on <a [routerLink]="['/music', musicId]">
          {{ musicTitle }}</a></span>
      <div *ngIf="isOwner"
        class="flex flex-row gap-2 [&>div]:w-6 [&>div]:h-6 [&>div]:grid [&>div]:place-items-center [&>div]:cursor-pointer">
        <div (click)="deleteComment()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        </div>
      </div>
      <div *ngIf="!isOwner">

      </div>
    </div>
    <p *ngIf="comment; else content_sk">
      {{ comment.content }}
    </p>
  </div>
</div>

<ng-template #title_sk>
  <div class="h-2.5 animate-pulse bg-gray-200 rounded-full dark:bg-gray-700 w-48"></div>
</ng-template>

<ng-template #content_sk>
  <div>
    <div class="h-1.5 animate-pulse bg-gray-200 rounded-full dark:bg-gray-700"></div>
    <div class="h-1.5 animate-pulse bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mt-0.5"></div>
  </div>
</ng-template>
